@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,300;1,400;1,500&display=swap");
/*CAROUSEL DEL BODY INDEX*/
.carousel {
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

/*ICONOS INDEX*/
.iconCheck {
  width: 2rem;
  height: 2rem;
}

/*IMAGEN ANTES DEL FOOTER INDEX*/
.boxImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.imgF {
  height: 70vh;
  max-height: auto;
  width: 100%;
}

.textF {
  text-align: center;
  background-image: url(../media/26.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.textF, h1 p {
  color: #FFF;
  padding: 10px 30px;
  font-weight: bold;
}

.textF p {
  font-size: 22px;
}

/*PAGINA NUESTRA EMPRESA*/
.contenedorEmpresa {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-size: 100vh 100vh;
  background-attachment: fixed;
  margin: 0;
}

.contenedorEmpresa::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center url("../media/6.jpg");
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.contentEmpresa {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.imagenEmpresa {
  height: 100%;
  background: no-repeat center url("../media/6.jpg");
  background-size: cover;
  width: 50%;
}

.textoEmpresa {
  padding: 25px 40px;
}

.tituloEmpresa {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tituloEmpresa::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

/*FORMULARIO DE CONTACTO*/
.containerCar2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-size: 100vh 100vh;
  background-attachment: fixed;
  margin: 0;
}

.containerCar2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center url("../media/26.jpg");
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.contentContacto {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 0.55rem;
}

.left {
  width: 50%;
  background: no-repeat url(../media/23.jpg);
  height: 100%;
  background-size: cover;
}

.right {
  padding-left: 40px;
  padding-right: 40px;
}

.tituloContacto {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tituloContacto::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.fiel:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
  min-height: 150px;
}

.btnContacto {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  background-color: #1d3557ff;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btnContacto:hover {
  background-color: #27ae60;
}

/* Underline From Center */
.principalBtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.principalBtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #27ae60;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.principalBtn:hover:before, .principalBtn:focus:before, .principalBtn:active:before {
  left: 0;
  right: 0;
}

/*ABONOS*/
.abonos {
  width: 100%;
  height: 240px;
  background: no-repeat center center url("../media/person-in-white-chemical-protection-suit-doing-disinfection-of-public-areas-to-stop-spreading-highly-contagious-corona-virus.jpg");
  background-size: cover;
}

.sombra {
  background-color: rgba(184, 179, 179, 0.4);
}

.barra {
  background: #1d3557ff;
}

/* GENERALES */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: black;
  width: 100%;
  height: 100%;
  letter-spacing: 0.03em;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

/*HEADER*/
header {
  color: #1d3557ff;
  width: auto;
}

.navbar a, .nav-link {
  color: #f1faeeff !important;
  text-decoration: none;
}

.nav-item .nav-link {
  margin: 0.1rem;
}

.bg-black {
  background-color: #1d3557ff;
  color: white !important;
}

.logo {
  width: 200px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem !important;
}

/*DATOS DE CONTACTO*/
.contacto {
  font-weight: bold;
}

/*CAROUSEL*/
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
}

/*SOBRE NUESTRA EMPRESA EN EL INDEX*/
.certified {
  width: 130px;
  margin: 2em 2em;
}

@media (max-width: 900px) {
  .nosotrosDescripcion {
    width: 100%;
  }
}
/*CARD INDEX*/
.containerCar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.containerCar .card {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.containerCar .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*CONTACTO*/
.tituloContacto {
  margin: 1em;
}

.boton {
  width: auto;
  margin: 1.5em;
}

/*WHATSAPP*/
.icono {
  margin: 0 0;
  overflow: hidden;
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 100px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 70px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

/*FOOTER*/
.containerFooter {
  max-width: 1170px;
  margin: auto;
  max-height: 1500px;
}

.rowFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #1d3557ff;
  padding-top: 30px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: calc(50% - 25px);
  bottom: -10px;
  background-color: #27ae60;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.firma {
  margin-top: 30px;
  width: 100%;
  color: #bbbbbb;
  font-size: 15px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    text-align: center;
  }
}
/*PAGINA SERVICIOS*/
.servicios h1 {
  color: honeydew;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #075a9e;
  height: auto;
  width: 100%;
}

.servicios p {
  margin: auto;
  padding: 1em;
  line-height: 25px;
  width: 100%;
  text-align: center;
}

.servicios h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #075a9e;
  color: honeydew;
  margin: 1em;
}

.card-group .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  height: auto;
}

.card-img-top {
  height: 255px;
}

@media (max-width: 574px) {
  .card-body {
    height: auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .card-body {
    height: auto;
    text-align: center;
  }
}
.footerServ {
  background-color: #075a9e;
}

.linea {
  margin-bottom: 35px;
  position: relative;
}

.linea::before {
  content: "";
  position: absolute;
  left: calc(50% - 25px);
  bottom: -10px;
  background-color: #27ae60;
  height: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.barra {
  color: honeydew;
  background-color: #075a9e;
  height: auto;
}

.sombra {
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

.abonosH {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.abonosH:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.color {
  color: whitesmoke;
}

.color:hover {
  color: whitesmoke;
  text-decoration: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.icon2 {
  width: 1em;
  height: 1em;
}

.carter-card-container {
  padding-left: 12.5%;
}/*# sourceMappingURL=estilos.css.map */