


.principalBtn{
	width: 50%;
	background-color: #1d3557ff;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
	transition: 0.3s;
    text-decoration: none;
	width: auto;
}

.principalBtn:hover{
	background-color: #27ae60;
}