/* GENERALES */
*{
	margin:0px;
	padding: 0px;
    box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
body {
	font-family: $fuentes;
	background-color: $fondo;
	color: black;
	width: 100%;
	height: 100%;
	letter-spacing: 0.03em;
	line-height: 1.6;
	text-align: center;
	text-decoration: none;
	list-style: none;
	overflow-x: hidden;
}
/*HEADER*/
header {
	color: #1d3557ff;
	width: auto;
}
.navbar a, .nav-link{
	color: #f1faeeff!important;
	text-decoration: none;
}
.nav-item .nav-link{
	margin: 0.1rem;
}
.bg-black{
	background-color: #1d3557ff;
	color: white!important;
}
.logo{
	width: 200px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding-right: 1.5rem!important;
}

/*DATOS DE CONTACTO*/
.contacto{
	font-weight: bold;
}

/*CAROUSEL*/
.carousel-caption{
	background-color: rgba(0, 0, 0, 0.4);
}

/*SOBRE NUESTRA EMPRESA EN EL INDEX*/
.certified{
	width: 130px;
	margin: 2em 2em
	
}

@media(max-width: 900px){
	.nosotrosDescripcion{
	  width: 100%;
}
  }


/*CARD INDEX*/ 

  .containerCar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.containerCar .card{
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}
.containerCar .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}




/*CONTACTO*/
.tituloContacto{
	margin: 1em;
}
.boton{
	width: auto;
	margin: 1.5em;
}



/*WHATSAPP*/
.icono {
	margin: 0 0;
	overflow: hidden;
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 100px;
	right: 30px;
	background: #0df053;
	color: #fff;
	border-radius: 70px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	z-index: 11;
	
}

/*FOOTER*/
.containerFooter{
	max-width: 1170px;
	margin:auto;
	max-height: 1500px;
}
.rowFooter{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #1d3557ff;
    padding-top: 30px;
	
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: calc(50% - 25px);
	bottom: -10px;
	background-color: #27ae60;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.firma{

	width: 100%;
	color: #bbbbbb;
	font-size: 15px;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	text-align: center;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	text-align: center;
}
}


/*PAGINA SERVICIOS*/
.servicios {
	background-color: #075a9e;
}

.servicios h1{
	color: honeydew;
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
	width: 100%;
}


.servicios p{
	margin: auto;
	font-weight: bold;
	padding: 1em;
	line-height: 25px;
	width: 100%;
	text-align: center;
	background: #fff;
}

.servicios h2{
	align-items:center;
	justify-content: center;
	color: honeydew;
	margin: 1em;
}

.card-group .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-body{
	height: auto;
	width: auto;
}

.card-img-top{
	height: 255px;
}
@media(max-width: 574px){
	.card-body{
	  height: auto;
	  text-align: center;
}
}
@media(max-width: 767px){
	.card-body{
		height: auto;
		text-align: center;
}
}
.footerServ{
	background-color:#075a9e;
	
}



.linea{
	margin-bottom: 35px;
	position: relative;
}
.linea::before{
	content: '';
	position: absolute;
	left: calc(50% - 25px);
	bottom: -10px;
	background-color: #27ae60;
	height: 3px;
	box-sizing: border-box;
	width: 50px;
}
.barra{
	color: honeydew;
    background-color: #075a9e;
    height: auto;
}
.sombra{
	box-shadow: 0px 15px 25px rgb(0 0 0 / 30%);
}

.abonosH{
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}
.abonosH:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.color{
	color: whitesmoke;
}
.color:hover{
	color: whitesmoke;
	text-decoration: none;
}
.icon{
	width: 1.5em;
	height: 1.5em;
}
.icon2{
	width: 1em;
	height: 1em;
}

.carter-card-container{
	padding-left: 12.5%;
}

.button{
	background-color: #00b5e6;
	text-decoration: none;
	font-weight: 900;
	line-height: 28px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 100px;
	padding: 8px 20px;
	-webkit-box-pack: center;
	justify-content: center;
	align-self: flex-start;
	border: none;
	margin-bottom: 16px;
	cursor: pointer;
	-webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
	transition: 300ms all cubic-bezier(.4,0,.2,1);
	}

.button:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}

